name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: npm install
      run: npm install
    - name: npm test
      run: npm test
    - name: npm test
      run: npm run vscode:prepublish
